:root {
    --primary-background-color: #000;
    --primary-nav-text-color: rgba(255, 255, 255, 0.481);
    --primary-text-color: white;
    --secondary-text-color: #000;
    --card-border-radius: 10px;
    --card-border-status: solid #fefefe69;
}

/* @font-face {
    font-family: 'montserrat';
    src: url(/my-website/asserts/fonts/Montserrat\,Outfit\,Poppins\,Roboto/) format('truetype');
    font-weight: 100 900;
    font-style: normal;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

body .light-mode {
    display: none;
    background-color: white;
    color: var(--secondary-text-color);
}

/* header section */

.navigation {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgba(255, 255, 255, 0.194);
    box-shadow: 0 5px 10px rgba(154, 151, 151, 0.344);
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #000;
    padding: 0 75px;
}

.ti {
    width: 24px;
    height: 24px;
    color: yellow;
    display: inline-block;
}

.logo img {
    width: 15rem;
    height: 3.5rem;
}

.toggleMenu {
    display: none;
    background-color: none;
    color: white;
    border: none;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links li {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: var(--primary-nav-text-color);
    position: relative;
}

.nav-link::before {
    content: " ";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    transition: width 0.3s ease;
}

.nav-link:hover::before {
    width: 100%;
}

.active {
    color: white;
}

.toggle-dark-light {
    text-decoration: none;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    outline: none;
}

/* main section view */
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

/* profile section */
.main-content {
    width: 100%;
    height: 100vh;
    padding: 10px 5px;
    /* border: solid white; */
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.profile-image {
    width: 30%;
    height: 90%;
    border-radius: 40%;
    border: solid white;
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.profile-description {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-description {
    width: 100%;
    height: 18%;
    text-align: center;
}

.heading-description h1 {
    text-transform: capitalize;
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke: 1.5px white;
}

.profile-buttons {
    width: 100%;
    height: 10%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* border: solid red; */
}

.btn {
    width: 10rem;
    padding: 2px 4px;
    border: solid yellow;
    text-align: center;
    border-radius: 18px;
    color: var(--primary-nav-text-color);
}

.profile-btn {
    text-decoration: none;
    position: relative;
}

/* skills section */
.description {
    width: 90%;
    height: 10%;
    text-align: center;
}

.heading {
    font-size: 2.5rem;
    text-transform: capitalize;
    position: relative;
}

.sub-heading {
    color: yellow;
}

.skills-card {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 50%);
    gap: 2px;
}

.sub-card {
    width: 100%;
    border: var(--card-border-status);
    border-radius: var(--card-border-radius);
    padding: 3px;
    border: solid green;
}

.skill-container {
    width: 100%;
    height: 100%;
    text-align: center;
    color: yellow;
    font-weight: bold;
}

.skill-image {
    width: 100%;
    height: 90%;
}


.skills,
.projects,
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* project section */
.projects-cards {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    gap: 2px;
}

.project-card {
    width: 100%;
    border: var(--card-border-status);
    border-radius: var(--card-border-radius);
    padding: 3px;
}

.project-image {
    width: 100%;
    height: 70%;
}

.image-content {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.image-content span {
    color: yellow;
}

.project-view {
    color: yellow;
}

/* contact section */
.contacts-card {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    gap: 2px;
}

.contact-card {
    width: 100%;
    border: var(--card-border-status);
    padding: 3px;
    border-radius: var(--card-border-radius);
}

.user-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.user-input h5 {
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    gap: 5px;
    padding: 0 5px;
}

.form label {
    font-weight: bold;
}

.form input {
    width: 100%;
    padding: 8px 4px;
    background-color: #efefef0e;
    outline: none;
    border-radius: 5px;
    border: solid rgba(255, 255, 255, 0.515);
    color: var(--primary-text-color);
}

.form input:focus {
    background-color: #efefef33;
    border-color: #fefefee8;
}

.form textarea {
    width: 100%;
    height: 45%;
    border-radius: 5px;
    outline: none;
    background-color: #efefef0e;
    border: solid rgba(255, 255, 255, 0.515);
    color: var(--primary-text-color);
    resize: none;
}

.form textarea:focus {
    background-color: #efefef33;
    border-color: #fefefee8;
}

.send-btn {
    width: 10rem;
    padding: 5px 4px;
    border-radius: 18px;
    outline: none;
    border: solid yellow;
    background-color: #000;
    color: var(--primary-nav-text-color);
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 3px
}

.contact-info h5 {
    font-size: 1.5rem;
}

.contact-info section {
    width: 90%;
    height: 30%;
    padding: 10px;
    border-radius: 5px;
    background-color: #efefef33;
}

.contact-sub-card {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.email a {
    color: var(--primary-text-color);
    text-decoration: none;
}


/* footer section */
footer {
    width: 100%;
    height: 10rem;
    background-color: #000;
    color: var(--primaryTextColor);
    border-top: #ffffff93 1px solid;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid white; */
}

.footer-card {
    width: 25%;
    height: 100%;
    /* border: solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    text-align: center;
}

.quick-links li {
    list-style: none;
}

.footer-logo img {
    width: 80%;
    height: 40%;
}

.icon-link ul li {
    list-style-type: none;
}

.icon-link a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: var(--primary-nav-text-color);
}

.icon-link .ti:hover {
    color: blue;
}

/* responsiveness */

@media(max-width: 768px) {

    .navigation {
        padding: 0 10px;
    }

    .open-navigation {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 20rem;
        align-items: center;
        padding-top: 50px;
        width: 100%;
        height: 60vh;
        border-radius: 15px 10px 0 0;
        border-top: solid white;
    }

    .nav-link:hover::before {
        width: 0;
    }

    .toggleMenu {
        display: block;
    }

    .logo img {
        width: 9rem;
        height: 2.5rem;
    }

    .btn {
        width: 7rem;
        padding: 2px;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: solid white;
    }

    .profile-image {
        width: 70%;
        height: 60%;
    }

    .profile-description {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        border: solid white;
    }

    .heading-description {
        width: 100%;
        height: 60%;
        border: solid green;
    }

    .heading-description h1 {
        font-size: 1.5rem;
    }

    .profile-buttons {
        width: 100%;
        height: 20%;
        border: solid red;
    }

    /* skills section */
    .heading {
        font-size: 1.5rem;
    }

    .sub-heading {
        font-size: 10px;
    }

    .skills-card {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 25%);
    }

    .card {
        width: 100%;
        height: 50%;
        flex-direction: row;
        border: solid yellow;
    }

    .sub-card {
        width: 100%;
    }

    .skill-image {
        height: 80%;
    }

    /* project section */
    .projects-cards {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 50%);
    }

    /* contact section */
    .contacts-card {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 100%;
    }

    .user-input {
        gap: 2px;
    }

    .user-input h5 {
        font-size: 1rem;
    }

    .form {
        width: 100%;
    }

    .form input {
        width: 100%;
        padding: 4px;
    }

    .form textarea {
        height: 45%;
    }

    .form textarea:focus {
        background-color: #efefef33;
        border-color: #fefefee8;
    }

    .contact-info {
        display: none;
    }

    .contact-sub-card {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    /* footer section */
    footer {
        margin-top: 5px;
    }

    .footer-container {
        width: 100%;
        flex-direction: column;
    }

    .footer-card {
        width: 100%;
    }

    .footer-logo img {
        width: 60%;
        height: 40%;
    }
}


@media (max-width: 1024px) {
    .main-content {
        border: solid red;
    }

    .heading {
        font-size: 1.5rem;
    }

    .sub-heading {
        color: yellow;
    }
}